@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* VARIABLE */
:root {
    --secondColor: #1368a8;
    --redColor: #c40005;
    --whiteColor: #FEF5E7;
    --minPadding: 20px;
    --transColor: #000000c7;
}

/* RESET STYLE */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL STYLE */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#container {
    background-color: var(--whiteColor);
    line-height: 1.5em;
}
h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
input, textarea {
    min-height: 35px;
    width: 100%;
    outline: none;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--secondColor);
    border-radius: 5px;
}

/* HEADER */
.header{
   display: flex;
   justify-content: space-between;
   
}
.logo {
    font-style: italic;
    font-weight: 700;
    padding: var(--minPadding);
}
.logo span {
    font-family: "Nanum Brush Script", cursive;
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    display: inline-block;
    text-align: center;
    color: var(--redColor);
    border-radius: 50%;
    transform: translateY(7px);
}
.active {
   position: absolute; 
   top: 0;
   width: 100%;
   height: 100%;
   background-color: var(--transColor);
}
.menu {
    padding: var(--minPadding);
}
.menu:hover {
    cursor: pointer;
}
.menu svg {
    fill: var(--secondColor)
}
.menu-close {
    display: none;
}
.active .menu-close {
    display: block;
}
.active .menu-open {
    display: none;
}

.nav {
    display: none;
}

.active .nav {
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
    width: 90%;
    height: 100%;
    padding: var(--minPadding);
}

.nav a {
    color: white;
    opacity: .9;
}
.active li {
    margin-block: 15px;
}


/* MAIN */
.main {
    padding: var(--minPadding);
}
.profil {
    width: 60%;
    margin: 0 auto;
    padding-bottom: var(--minPadding);
}
.profil img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}
.descript h2 {
    text-align: center;
    margin-bottom: var(--minPadding);
}
.descript p {
    text-align: justify;
}
.action {
   display: flex;
   flex-direction: column;
   gap: 7px;
   margin-block: var(--minPadding);
}
.action a {
    text-align: center;
    font-weight: 700;
    padding: 5px;
}
.voir {
    color: var(--secondColor);
    border: 2px solid var(--secondColor);
}
.voir:hover {
    color: var(--whiteColor);
    background-color: var(--secondColor);
}
.download {
    color: white;
    background-color: var(--redColor);
}
.download:hover {
    opacity: .8;
}
.statut {
    padding-block: var(--minPadding);
}
.statut__title {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
}
.statut__title div {
    text-align: center;
}
.title-dev:hover, .title-fin:hover {
    cursor: pointer;
}
.statut__title div::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    margin-top: 5px;
}
.title-active::after {
    background-color: var(--secondColor);
}
.title-active {
    color: var(--secondColor);
}

.statut p {
    text-align: justify;
    margin-block: 12px;
    line-height: 1.5;
}

.dev, .fin {
    margin: 25px 0;
}
.statut__content .fin {
    display: none;
}

.annonce-contact {
    text-align: center;
    color: white;
    background-color: var(--secondColor);
    line-height: 1.5;
    padding: 25px;
    margin-block: 20px;
}

.toimoignages {
    margin-block: var(--minPadding);
}
.temoignages-title {
    text-align: center;
    font-size: 24px;
}
.temoignages-content {
    margin: 10px auto;
    overflow: hidden;
}
.carousel {
    display: flex;
    animation: display-temoignages 12s infinite ease-in-out;
}
.temoignage {
    flex-shrink: 0;
    padding: var(--minPadding) 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.temoignage h3 {
    width: 50%;
    margin: 10px 0 0 auto;
}
@keyframes display-temoignages {
    0%,
    21.3% {
        transform: translateX(0%);
    }
    33.3%,
    54.6% {
        transform: translateX(-100%);
    }
    66.6%,
    87.9% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-300%);
    }
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    background-color: var(--secondColor);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn button:hover {
    background-color: #555;
}

.prev-button, .next-button {
    margin: 0 10px;
}


/* FOOTER */
.footer {
    padding: var(--minPadding);
    border-top: 1px solid;
}
.moi {
    text-align: center;
}
.moi h2 {
    padding: 6px 0;
}
.moi * {
    margin: 6px 0;
}
.moi .download {
    display: inline-block;
    padding: 7px;
    margin-block: 12px;
}
.contact {
    margin-block: var(--minPadding);
}
.contact h2 {
    margin-bottom: 12px;
}
.contact div {
    margin-block: 6px;
}
.label {
    margin-bottom: 5px;
}