@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* VARIABLE */
:root {
    --secondColor: #1368a8;
    --redColor: rgb(196, 0, 5);
    --whiteColor: #FEF5E7;
    --minPadding: 20px;
    --transColor: #000000c7;
}

/* RESET STYLE */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL STYLE */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#container {
    background-color: var(--whiteColor);
    line-height: 1.5em;
}
h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
input, textarea {
    min-height: 35px;
    width: 100%;
    outline: none;
    padding: 5px;
    background-color: transparent;
    border: 1px solid var(--secondColor);
    border-radius: 5px;
}

/* HEADER */
.header{
   display: flex;
   justify-content: space-between;
   transition: all 0.6s ease;
}
.logo {
    font-style: italic;
    font-weight: 700;
    padding-block: var(--minPadding);
    padding-left: var(--minPadding);
}
.logo span {
    font-family: "Nanum Brush Script", cursive;
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    display: inline-block;
    text-align: center;
    color: var(--redColor);
    border-radius: 50%;
    transform: translateY(7px);
}
.active {
   position: absolute; 
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #1367a8c4;
}
.menu {
    padding: var(--minPadding);
}
.menu:hover {
    cursor: pointer;
}
.menu-open svg {
    fill: var(--secondColor)
}
.menu-close svg {
    fill: white;
}
.menu-close {
    display: none;
}
.active .menu-close {
    display: block;
}
.active .menu-open {
    display: none;
}

.nav {
    display: none;
}

.active .nav {
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
    width: 90%;
    height: 100%;
    padding: var(--minPadding);
}

.nav a {
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.active li {
    margin-block: 15px;
}
.court {
    display: none;
}

@media screen and (min-width: 640px) {
    .header {
        align-items: center;
        background-color: #f8f9fa;
        box-shadow: 0px 1px 3px #acaaaa;
        border-bottom: 1px solid #acaaaa;
    }
    .menu {
        display: none;
    }
    .nav {
        display: block;
    }
    .nav ul {
        display: flex;
        gap: 12px;
        padding-block: var(--minPadding);
        padding-right: var(--minPadding);
    }
    .nav a {
        font-size: 17px;
        color: initial;
    }
    .nav a:hover {
        color: var(--secondColor);
    }
    .large {
        display: none;
    }
    .court {
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .header {
        padding-inline: 25px;
    }
    .logo, .nav {
        padding: 25px;
    }
    .nav ul {
        gap: var(--minPadding);
        padding: 0;
    }
}
@media screen and (min-width: 1024px) {
    .logo {
        font-size: 18px;
    }
    .nav ul {
        gap: 25px;
        font-size: 18px;
    }
    .large {
        display: block;
    }
    .court {
        display: none;
    }
}
@media screen and (min-width: 1284px) {
    .header {
        padding-inline: 50px;
    }
}

/* MAIN */
.main {
    padding: var(--minPadding);
}
.profil {
    width: 60%;
    margin: 0 auto;
    padding-bottom: var(--minPadding);
}
.profil img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.desktop {
    display: none;
}
.descript h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: var(--minPadding);
}
.descript p {
    text-align: justify;
}
.action {
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-block: var(--minPadding);
}
.action a {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 7px;
    box-shadow: 0px 3px 6px 0px #e1d9da;
    border-radius: 5px;
}
.voir {
    color: var(--secondColor);
    border: 2px solid var(--secondColor);
}
.voir:hover {
    color: var(--whiteColor);
    background-color: var(--secondColor);
}
.download {
    color: white;
    background-color: var(--redColor);
}
.download:hover {
    opacity: .8;
}

@media screen and (min-width: 640px) {
    .main {
      padding: 0;  
    }
    .about {
        position: relative;
        height: 60vh;
        background-image: url(../images/bg_002.jpg);
        background-size: cover;
    }
    .mobile {
        display: none;
    }
    .profil {
        width: 100%;
        height: 420px;
    }
    .desktop {
        display: flex;
        width: 100%;
        height: 60vh;
    }
    .desktop img {
        border-radius: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 7px;
    }
    .img01 {
        display: none;
    }
    .img02 {
        object-position: top;
    }
    .descript {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--whiteColor);
        background-color: rgba(0, 0, 0, 0.26);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 7px;
        margin-inline: 2%;
        padding: var(--minPadding);
    }
    .descript h2 {
        display: none;
    }
    .descript p {
        text-align: center;
        margin-bottom: var(--minPadding);
    }
    .action {
        flex-direction: row;
        justify-content: center;
    }
    .action a {
        color: var(--whiteColor);
        width: 10rem;
        padding: 5px;
    }
    .voir {
        border: 1px solid white;
    }
    .voir:hover {
        color: black;
        background-color: white;
    }
    .download {
        background-color: var(--secondColor);
    }
    
}
@media screen and (min-width: 768px) {
    .about {
        position: relative;
        height: 70vh;
        padding-inline: var(--minPadding);
    }
    .desktop {
        display: flex;
        width: 100%;
        height: 70vh;
    }
}
@media screen and (min-width: 1024px) {
    .about {
        display: flex;
        align-items: center;
        height: 470px;
        padding-inline: 10%;
    }
    .profil {
        width: 50%;
        order: 2;
        height: auto;
    } 
    .desktop img {
        object-fit: contain;
        object-position: center;
        height: auto;
        width: 100%;
    }
    .descript {
        position: relative;
        width: 50%;
        padding: 0;
        color: black;
        background-color: transparent;
    }
    .descript h2 {
        display: block;
        font-size: 28px;
        line-height: 1.5;
        margin-bottom: var(--minPadding);
    }
    .descript p {
        text-align: justify;
    }
    .voir {
        background-color: var(--secondColor);
    }
    .download {
        background-color: var(--redColor);
    }
}

/* STATUT */
.statut {
    padding-block: var(--minPadding);
}
.statut h2 {
    font-size: 24px;
    text-align: center;
    margin-block: 10px var(--minPadding);
}
.statut__title {
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
}
.statut__title div {
    text-align: center;
    color: var(--secondColor);
    box-shadow: 0px 3px 6px 0px var(--secondColor);
    padding: 7px;
    border-radius: 5px;
    transition: all 0.4s ease;
}
.title-dev:hover, .title-fin:hover {
    cursor: pointer;
}

div.title-active {
    color: initial;
    box-shadow: 0px 4px 6px 0px #e1d9da;
    transition: all 0.4s ease;
}
.statut h3 {
    display: none;
}
.statut p {
    text-align: justify;
    margin-block: 12px;
    line-height: 1.5;
}

.dev, .fin {
    margin: 25px 0;
}
.statut__content .fin {
    display: none;
}

.annonce-contact {
    text-align: center;
    color: white;
    background-color: var(--secondColor);
    line-height: 1.5;
    padding: 25px;
    margin-block: 20px;
}

@media screen and (min-width: 640px) {
    .statut {
        background-image: url(../images/bg-icon-gray.jpg);
        background-size: contain;
        padding: 50px 3%;
    }
    .statut__title div {
        font-weight: 700;
        font-size: 20px;
        color: initial;
        box-shadow: none;
    }
    div.title-active {
        color: var(--redColor);
    }
    .statut__title div:after {
        content: '';
        display: block;
        width: 0%;
        height: 3px;
        margin-top: 5px;
        transition: all 0.4s ease;
    }
    div.title-active:after {
        width: 100%;
        background-color: var(--redColor);
    }
    .annonce-contact {
        background-color: var(--redColor);
    }
}
@media screen and (min-width: 768px) {
    .statut {
        padding-inline: 5%;
    }
}
@media screen and (min-width: 820px) {
    .statut__title {
        display: none;
    }
    .statut h3 {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 22px;
        color: var(--redColor);
        margin-block: var(--minPadding);
    }
    .statut svg {
        width: 24px;
        height: 24px;
    }
    .statut__content .fin {
        display: block;
    }
}
@media screen and (min-width: 1024px) {
    .statut {
        padding-inline: 10%;
    }
    .statut h2 {
        font-size: 28px;
        padding-bottom: var(--minPadding);
    }
    .annonce-contact {
        max-width: 600px;
        margin-inline: auto;
    }
}

/* MES PROJETS */
.projets {
    margin-block: var(--minPadding) 40px;
}
.projets-head {
    font-size: 24px;
    text-align: center;
}
.projets-content {
    margin-block: var(--minPadding);
}
.projet {
    position: relative;
    width: 100%;
    margin-block: var(--minPadding);
}
.projet img {
    width: 100%;
    border-radius: 5px;
}
.projet p {
    display: flex;
    text-align: justify;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 40%;
    color: var(--whiteColor);
    background-color: var(--transColor);
    padding: 12px 8px;
    border-radius: 5px;
}
.more {
    text-align: center;
}
.more svg {
    fill: var(--redColor);
    width: 90px;
    height: 38px;
    border: 2px solid var(--redColor);
    border-radius: 5px;
}

@media screen and (min-width: 640px) {
    .projets {
        background-color: #d0e4ed;
        margin: 0 auto;
        padding: 50px 3%;
    }
    .projets-content {
        display: flex;
        column-gap: 12px;
        margin-inline: auto;
    }
    .projet-3 {
        display: none;
    }
    .more svg {
        width: 120px;
    }
}
@media screen and (min-width: 768px) {
    .projets {
        padding-inline: 5%;
    }
    .projet-3 {
        display: block;
    }
}
@media screen and (min-width: 820px) {

}
@media screen and (min-width: 1024px) {
    .projets {
        padding-inline: 10%;
    }
}

/* TEMOIGNAGES*/
.toimoignages {
    margin-block: var(--minPadding);
    padding-block: var(--minPadding);
}
.temoignages-title {
    text-align: center;
    font-size: 24px;
}
.temoignages-content {
    margin: 10px auto;
    overflow: hidden;
}
.carousel {
    display: flex;
    animation: display-temoignages 15s infinite ease-in-out;
}
.temoignage {
    font-weight: 400;
    flex-shrink: 0;
    padding: var(--minPadding) 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.temoignage h3 {
    font-weight: 500;
    width: 65%;
    margin: 10px 0 0 auto;
}
.temoignage p {
    text-align: justify;
}
@keyframes display-temoignages {
    0%,
    28% {
        transform: translateX(0%);
    }
    33%,
    61% {
        transform: translateX(-100%);
    }
    66%,
    94% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-300%);
    }
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    background-color: var(--secondColor);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 6px 1px rgb(151, 128, 128);
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn button:hover {
    background-color: #555;
}

.prev-button, .next-button {
    margin: 0 10px;
}
button.play-pause-button {
  background-color: var(--redColor);      
} 

@media screen and (min-width: 640px) {
    .temoignages {
        padding: 50px var(--minPadding);
        margin: 0 auto;
        background-image: url(../images/bg-icon-gray.jpg);
        background-size: contain;
    }
    .temoignages-content {
        max-width: 600px;
        margin-inline: auto;
    }
    .btn {
        gap: 12px;
    }
}
@media screen and (min-width: 1024px) {
    .temoignages-title {
        font-size: 24px;
    }
    .btn {
        gap: 16px;
    }
}

/* FOOTER */
.footer {
    padding: var(--minPadding);
}
.moi {
    text-align: center;
}
.moi h2 {
    padding: 6px 0;
}
.moi * {
    margin: 6px 0;
}
.moi .download {
    display: inline-block;
    padding: 7px;
    margin-block: 0 12px;
    box-shadow: 0px 3px 6px 0px #e1d9da;
    border-radius: 5px;
}
.rs {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.rs img {
    width: 32px;
    height: 32px;
}
.rs .linkedin {
    width: 36px;
    height: 36px;
}
.contact {
    margin-block: var(--minPadding);
}
.contact h2 {
    margin-bottom: 12px;
}
.contact div {
    margin-block: 6px;
}
.label {
    margin-bottom: 5px;
}
.footer button {
    font-weight: 500;
    color: var(--whiteColor);
    background-color: var(--secondColor);
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
}
.Copyright {
    font-weight: 700;
}

@media screen and (min-width: 640px) {
    hr {
        display: none;
    }
    .footer {
        color: rgba(255, 255, 255, 0.911);
        /* background: #606060e0 url(../images/bg-footer02.png) no-repeat 0 0;
        background-size: auto 100%; */
        background-color: #606060e0;
    }
    .footer > div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin: 0 auto;
        padding-inline: var(--minPadding);
    }
    .moi {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    .footer .download {
        box-shadow: none;
    }
    .contact {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact h2 {
        text-align: center;
    }
}
@media screen and (min-width: 1024px) {
    .footer > div:nth-child(1) {
        padding-inline: 10%;
    }
    .Copyright {
        padding-inline: 50px;
    }
}