@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

:root {
    --secondColor: #2079bb;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color:#FEF5E7 ;  
}

/* HEADER */

.header{
   font-weight: 700;
}

.header li {
    list-style: none;
}
header a {
    color: white;
    text-decoration: none;
}

nav {
    padding: 20px;
}

.nav-active {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.447);
    height: 30vh;
}

nav ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}
.nav-active ul {
    display: flex;
}

.menu {
    display: flex;
    justify-content: flex-end;
}
.menu:hover {
    cursor: pointer;
}

.menu-open {
    display: block;
}
.menu-open svg {
    fill:  var(--secondColor);
}
.menu-close {
    display: none;
}
.nav-active .menu-open {
    display: none;
}
.nav-active .menu-close {
    display: block;
}


/* MAIN */
main {
    padding: 50px 20px;
}
.about {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-block: 20px;
}
.profil {
    width: 40%;
    max-width: 250px;
}
.profil img {
    width: 100%;
    border-radius: 50%;
}
.descript p {
   font-size: small;
   text-wrap: nowrap;
}
.name {
    font-size: 42px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: -1.5px;
    text-wrap: nowrap;
}
.name span {
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-size: 72px;
    font-style: normal;
    display: inline-block;
    text-align: center;
    color: red;
    border-radius: 50%;
    transform: translate(3px, 7px);
}

.statut__title {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
}

.title-dev:hover, .title-fin:hover {
    cursor: pointer;
}
.statut__title div::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    margin-top: 5px;
}
.title-active::after {
    background-color: var(--secondColor);
}
.title-active {
    color: var(--secondColor);
}

.statut p {
    text-align: justify;
    margin-block: 12px;
    line-height: 1.5;
}

.dev, .fin {
    margin: 25px 0;
}
.statut__content .fin {
    display: none;
}

.annonce-contact {
    text-align: center;
    color: white;
    background-color: var(--secondColor);
    line-height: 1.5;
    padding: 25px;
    margin-block: 20px;
}
